@model FinalProject.Models.HomeViewModel


<html>

    <head>
        <link href="/Styles/Home.css" rel="stylesheet">
        <title>Final Project</title>
    </head>

    <body>
        <script src="/Scripts/jquery-2.1.1.min.js"></script>
        <script src="/Scripts/jquery-ui.min.js"></script>
        <script src="/Scripts/Home.js"></script>
        <h1>Welcome to Cuyahoga Community College Student Services Online</h1>
<p class="p1">Cuyahoga Community College recognizes students' rights to access
personal and academic records in accordance with the Family Educational Rights and Privacy
Act of 1974 (FERPA) as amended by Public Law 93-568.</p>
<form class="form-style-9">
<label class="label1">Already hava an account with us?
Returning users may log in by entering
their site username and password.</label>
<ul class="ul1">
<li>
<br>Username<br>
   <input type="text" name="user_name">
   <br>
   Password<br>
   <input type="password" name="lastname">
   <br><br>
   <a href="#" class="myButton">Log In</a>
</li>
<li>
<hr>
New users, please create a new account by providing us with some basic information.
</li>
<li>
<br>Username<br>
   <input type="text" name="user_name">
   <br>
   Password<br>
   <input type="password" name="lastname">
   <br><br>
E-mail address
   <input type="text" name="email">
   <br><br>
Repeat E-Mail address
   <input type="text" name="repeatemail">
   <br>
   <br>
   <a href="#" class="myButton">Create Account</a></li>
</ul>

</form>
    </body>

</html>
